@import 'navbar';
@import 'colors';

%makeGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;

}


%makeFlex {
    display: flex;
    justify-content: center;

}

* {
    margin: 0;
    padding: 0;

}

.hero {
    background: $lite;

    // instruction area
    .instruction {
        background: $dark;
        color: $white;
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 0.5rem;
        margin: 1rem;
    }

    .points {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        height: 70vh;



        &__num {


            color: $dark-navy ;
            font-family: 'La Belle Aurore', cursive;
            padding: 1rem;
            text-align: center;

            font-weight: bold;



            h1 {
                font-size: 6.5rem !important;

                margin-bottom: 0 !important;
                font-weight: bold;

                // #reverse {
                //     transform: rotate(0.5turn);
                //     margin-bottom: 0 !important;
                //     font-weight: bold;
                // }

                // &_rotate {
                //     transform: rotate(0.5turn);
                // }

            }

            h3 {
                font-size: 2.5rem !important;
                margin-bottom: 0 !important;
            }
        }

    }


    // instruction area end
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        min-height: 100vh; // it will add more if needed /// else the default is max-100vh rigid..


        @include tablet {
            grid-template-columns: 1fr;
            min-height: auto;
            padding-top: 10%;

            text-align: center;
            // justify-items: self-start;

        }

        @include phone {
            align-items: start;
        }

        &--left {

            @extend %ali-center;
            flex-direction: column;

            p {
                font-family: 'Comfortaa', cursive;
                font-weight: bold;
                font-size: 21px;
                text-align: center;
            }

            h1 {

                font-size: 50px;

                font-family: 'Anton', sans-serif;
                letter-spacing: 4px;

                @include phone {
                    font-size: 40px;

                }

            }

            h2 {
                font-family: 'Comfortaa', cursive;
                font-size: 250%;
                color: $green;

                font-weight: bold;
                margin-bottom: 26px;
            }




        }



        &--right {
            @extend %ali-center;

            img {
                width: 80%;
                padding: 20px;

                @include phone {
                    width: 100%;
                }
            }
        }


        &--btn {
            font-size: 1rem;
            background-color: $green;
            padding: 14px 32px;
            border: none;
            border-radius: 4px;
            color: $dark-navy;
            margin-top: 2rem;
            @include samePad(.5rem);
            cursor: pointer;
            position: relative;
            transition: all 0.3s;
            outline: none;

            a {
                position: relative;
                z-index: 2;
                font-family: 'Press Start 2P', cursive;

                font-weight: bold;
                // color: $green;
                text-decoration: none;
            }

            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: $dark-green;
                transition: all 0.3s;
                border-radius: 4px;
            }

        }


        &--btn:hover:after {
            width: 80%;
        }

    }
}

.footer {
    background: $dark-green;
    padding: 10%;
    color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;

    h2 {
        font-family: 'Concert One', cursive;
        color: $yellow;
        font-weight: 900;
        padding: 12px;
        cursor: pointer;

        &:hover {
            color: $green;
        }
    }

    a {
        text-decoration: none;
        color: $white;
        font-family: 'Press Start 2P', cursive;
        font-size: 15px;
    }

    &__left {


        h1 {
            font-family: 'Press Start 2P';
            padding: 22px;
            font-size: 2rem;
            color: $dark;

            &:hover {
                color: lightcoral;
            }
        }



    }

    &__right {
        .social {
            @extend %makeFlex;
            align-items: center;
            justify-content: space-evenly;

            button {
                padding: 7px 14px;
                /* border-radius: 34%; */
                border-radius: 54%;
                border: 2px solid $dark;
                background: $dark-green;

                // @include samePad(5px);
                &:hover {
                    background: $green;
                    color: $dark;
                }

                &::after {
                    content: '';
                    position: absolute;

                }
            }
        }


        .number {
            font-size: 1.4rem;
            font-family: 'Pacifico', cursive;

        }
    }

    @include tablet {
        grid-template-columns: 1fr;

        .footer__left {
            h1 {
                padding-bottom: 50px;
            }
        }

        .footer__left {
            grid-column: 1 / span 2;
        }


    }
}

.copy {
    background-color: $dark;
    padding: 2%;
    text-align: center;

    h3 {
        padding-top: 10px;
        color: aliceblue;
        font-weight: bold;
        font-family: 'Press Start 2P', cursive;
        font-size: 80%;
    }

}


.features {
    background: $green;
    padding: 5%;
    @include samePad(10%);

    .feature {
        display: grid;
        grid-template-columns: 0.75fr 1fr;
        align-items: end;
        align-items: center;

        h2 {
            @extend %makeFlex;
            padding-right: 20%;
            justify-content: flex-end;
        }

        h3 {
            font-family: 'Concert One', cursive;
        }

    }

}

.container-grid {
    background-color: red;
    @include samePad(10%);

    .feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: end;

        h2 {
            @extend %makeFlex;
            padding-right: 20%;
            justify-content: flex-end;
        }
    }

    // display: flex;
    // justify-content: flex-end;
}